<div>Banner info</div>



{% schema %}
{
    "name": "Banner Info",
    "class": "banner-info",
    "settings": [
        {
        "type": "text",
        "id": "section_banner_Info",
        "label": "Titulo de la sección",
        "default": "Información importante"
        }
    ],
    "presets": [
        {
        "name": "Banner Info",
        "category": "Custom content"
    }
  ]
}
{% endschema %}