    <div class="banner-info">
    {% comment %} GROUP CARD {% endcomment %}
        <div class="banner-info-container">
        {% comment %} ITEM CARD {% endcomment %}
            <div class="banner-info-card border">
            {% comment %} ICON {% endcomment %}
                <img  src={{"earphones.png" | asset_url}}/>
            {% comment %} TEXT {% endcomment %}
                <p>Servicio al Cliente por Humanos</p>
            </div>
            <div class="banner-info-card border">
            {% comment %} ICON {% endcomment %}
                <img  src={{"bus.png" | asset_url}}/>
            {% comment %} TEXT {% endcomment %}
                <p>Envío Gratis $199.000 +</p>
            </div>
            <div class="banner-info-card border">
            {% comment %} ICON {% endcomment %}
                <img  src={{"payment.png" | asset_url}}/>
            {% comment %} TEXT {% endcomment %}
                <p>Paga en Línea o Contra Entrega</p>
            </div>
            <div class="banner-info-card">
            {% comment %} ICON {% endcomment %}
                <img  src={{"refund.png" | asset_url}}/>
            {% comment %} TEXT {% endcomment %}
                <p>Devoluciones Gratis*</p>
            </div>
        </div>
    </div>



{% schema %}
{
    "name": "Banner Info",
    "class": "banner-info",
    "settings": [
        {
        "type": "text",
        "id": "section_banner_Info",
        "label": "Titulo de la sección",
        "default": "Información importante"
        }
    ],
    "presets": [
        {
        "name": "Banner Info",
        "category": "Custom content"
    }
  ]
}
{% endschema %}