
    <div class="banner-publicitario">
    {% comment %} INFO {% endcomment %}
        <div class="banner-publicitario-container">
          <div class="banner-publicitario__info">
              <h4>2016 Nike <br/> The Best Classical</h4>
              <p>Es un hecho establecido hace demasiado tiempo que un lector se distraer치 con el contenido del texto de un sitio mientras que mira su dise침o.</p>
              <button>Ver mas</button>
          </div>
          {% comment %} IMAGE {% endcomment %}
          <img  src={{"img-banner.png" | asset_url}}/>
        </div>
    </div>



{% schema %}
{
    "name": "Banner Publicitario",
    "class": "banner-publicitario",
    "settings": [
        {
        "type": "text",
        "id": "section_banner_publicitario",
        "label": "Titulo de la secci칩n",
        "default": "Informaci칩n importante"
        }
    ],
    "presets": [
        {
        "name": "Banner Publicitario",
        "category": "Custom content"
    }
  ]
}
{% endschema %}