<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">


<noscript>{{ 'header.css' | asset_url | stylesheet_tag }}</noscript>


<header class="header">
{% comment %} LOGO {% endcomment %}
<div class="header__logo">
<p>Estilo a la medida</p>
</div>
{% comment %} LINKS {% endcomment %}
<nav class="header__nav">
<ul class="nav__gruop-list">
{% for linklist in linklists %}
  {% if linklist.handle == 'main-menu' %}
    {% assign mainMenuLinks = linklist.links %}
    {% for link in mainMenuLinks %}
      <li class="nav__list">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>
</nav>

{% comment %} ICONS {% endcomment %}
</header>